.create-button{
    width: 70%;
    max-width: 300px;
    height: 30px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(15, 247, 247);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
}