.modal-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 44, 44, 0.7);
    color: black;
}

.modal{
    height: 40%;
    min-height: 300px;
    width: 40%;
    max-width: 400px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(222, 243, 243);
    font-weight: bold;
}
