.profile{
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px dashed #fff;
}
.title, .profile i, .profile p{
    color: #fff;
}
.profile i{
    font-size: 3rem;
}