.todo-item{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
    width: 80%;
    min-height: 150px;
    box-shadow: 3px 5px lightgray;
    border-radius: 5px;
    background-color: #ffd29e;
}

.todo-item .close-item{
    cursor: pointer;
    position: absolute;
    right: 25px;
    bottom: 20px;
    font-size: 1.3rem;
}

.todo-item .edit-item{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.3rem;
}

.date-container span{
    margin-right: 10px;
}

/*--------- STATES -------------*/
.done{
    background-color: rgb(146, 202, 146);
}
.progress{
    background-color: rgb(255, 165, 0, 0.6);
}
.do{
    background-color: rgb(252, 45, 45, 0.5);
}

.todo-item .text{
    width: 90%;
    margin-left: 0;
    line-height: 1rem;
}

@media (max-width: 500px) {
    ul{
        margin: 0;
        padding: 0;
    }
    .todo-item{
        width: 90%;
        box-sizing: border-box;
    }
}