.form{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin:auto;
    text-align: center;
    background-color: rgb(243, 243, 243);
    font-size: 1.1rem;
}
/*------HEADER-------*/
.form__header{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f9be7c;
    border-radius: 0 0 25px 25px;
}
.form__header h2{
    font-size: 2rem;
}
.title-container{
    width: 100%;
}
.title-container label{
    display: block;
}
.title-container input{
    width: 78%;
}
.form input, textarea{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    font-family: 'Oswald', sans-serif;
}
.date-container{
    width: 100%;
    padding: 20px 0 40px 0;
}
.date-container label{
    display: block;
}
.date-container .date{
    width: 80%;
}
   
.form label{
    width: 90%;
    font-size: 0.9rem;
    text-align: left;
    margin-left: 25px;
    color: gray;
}
.textArea-container{
    text-align: left;
    width: 84%;
    margin: 20px auto 0 auto;
}
.textArea-container label{
    margin-left: 0;
}

/*-----BUTTONS-----*/
.button-container{
    display: flex;
    margin: 0 auto;
    width: 90%;
}
.button-container button{
    width: 50%;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.form-edit .button-container button{
    margin: 10px;   
}
.button-container .btn-cancel{
    background-color: rgb(255, 29, 29);
}
.button-container .btn-cancel:hover{
    background-color: rgb(175, 7, 7);
}
.button-container .btn-add{
    background-color: rgb(7, 219, 7);
}
.button-container .btn-add:hover{
    background-color: rgb(0, 156, 0);
}
.textArea{
    margin: 20px auto;
    min-width: 95%;
    max-width: 95%;
    min-height: 70px;
    max-height: 70px;
    overflow-y: scroll;
    outline: none;
}
.textArea::-webkit-scrollbar{
    background-color: #fff9eb;
    max-width: 15px;
    border-radius:10px;
}
.textArea::-webkit-scrollbar-thumb{
    background-color: #f9be7c;
    max-width: 15px;
    border-radius:10px;
}

.form .edit-textArea textarea{
    min-height: 45px;
}

.form-edit .date-container{
    width: 100%;
    padding: 20px 0;
}
select{
    width: 30%;
    min-height: 30px;
    display: block;
    margin: 10px auto;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
}