.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter-container .title{
    text-align: center;
    font-size: 2rem;
    margin-right: 20px;
    color: black;
}
.filter{
    cursor: pointer;
    margin: 0 12px;
}

.section-list{
    position: relative;
}
.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container i{
    font-size: 1.2rem;
}

.filter-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weekContainer{
    width: 90%;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .section-list{
        height: 80%;
    }
    .list{
        width: 100%;
    }
}