.form{
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.form label{
    font-size: 1.2rem;
}
.priority{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}
.button-container{
    display: flex;
    margin: 20px auto;
    width: 90%;
}
.button-container button{
    width: 40%;
    height: 70%;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.button-container .btn-cancel{
    background-color: rgb(255, 29, 29);
}
.button-container .btn-cancel:hover{
    background-color: rgb(175, 7, 7);
}
.button-container .btn-add{
    background-color: rgb(7, 219, 7);
}
.button-container .btn-add:hover{
    background-color: rgb(0, 156, 0);
}
.textArea{
    margin: 20px auto;
    min-width: 95%;
    max-width: 95%;
    min-height: 20%;
    border: none;
}
.terminated{
    display: flex;
}