body {
  font-family: 'Oswald', sans-serif;
  background-color: #fff9eb;
}
.window{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.aside{
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main__header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 20px 0 20px;
}
.main__header h2{
  font-size: 2rem;
}
.main__header h2 > span{
  font-size: 1rem;
  color: #f9be7c;
}


@media (max-width: 500px) {
  .window{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    box-sizing: border-box;
  }
  .aside{
    height: 20%;
    border-radius: 15px 15px 0 0 ;
    position: sticky;
    bottom: 0;
    margin: 20px 0 0 0 ;
    box-sizing: border-box;
  }
  .main{
    height: 80%;
    overflow-y: scroll;
  }
}
