body {
  font-family: 'Oswald', sans-serif;
  background-color: #fff9eb;
}
.window{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.aside{
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main__header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 20px 0 20px;
}
.main__header h2{
  font-size: 2rem;
}
.main__header h2 > span{
  font-size: 1rem;
  color: #f9be7c;
}


@media (max-width: 500px) {
  .window{
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
  }
  .aside{
    min-height:100vh;
    width: 100%;
    margin-bottom: 50px;
  }
  .main{
    min-height:100vh;
  }
  .main__header{
    height: 70px;
  }
  .main__header .create-button{
    width: 130px;
  }
}
